<div *ngIf="orders.length > 0">
    <h1>Proposed Orders</h1>
    <table>
        <thead>
            <tr>
                <th>Assertion</th>
                <th>Proposer</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Contract</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>{{order.assertionText}}</td>
                <td>{{ order.sellerName }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.quantity }}</td>

            </tr> 
        </tbody>
    </table>
</div>
<div *ngIf="orders.length === 0">
    <p>No orders proposed to you.</p>
</div><p>order-list works!</p>
