
<h1>Create Contract</h1>

<form [formGroup]="contractForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Assertion</mat-label>
        <textarea matInput formControlName="assertion"></textarea>
      </mat-form-field>
      <br>
    <mat-form-field appearance="fill">
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="startDatePicker" formControlName="start_date">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="endDatePicker" formControlName="end_date">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit">Create Contract</button>
  </form>