.contract-entry {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.contract-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .contract-row p {
    margin: 0;
  }